/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  list-style-type: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  background-color: #0057b8;
  color: #ffd700;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration: none;
  color: #ffd700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_navigation {
  width: 60%;
}

.header_navigation_link {
  margin: 0 20px;
}

.weatherSection {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherFigure {
  border: 1px solid #ffd700;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
}

.weatherTitle {
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

.weatherTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ffd700;
}

.weakWeather {
  display: flex;
}

.dailyWeather {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dailyWeather:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  width: 1px;
  background-color: #ffd700;
}

.weatherIcon,
.precipitation,
.wind {
  display: flex;
  align-items: center;
}

.weatherIcon svg,
.precipitation svg,
.wind svg {
  height: 30px;
  width: 30px;
}

.date {
  font-size: 32px;
  font-weight: 500px;
}

.todayWeatherSection {
  width: 80%;
  margin: auto;
}

.todayHeader {
  display: flex;
  justify-content: space-between;
}

.todayTemperature {
  text-align: left;
}

.todayWeather svg {
  height: 100%;
  width: auto;
}

.todayWind {
  display: flex;
  align-items: center;
  min-width: 240px;
}
